{{ define "main" }}
<article class="page">
  <div class="container">
    <h1>{{ .Title }}</h1>
    {{ with .Content }}
    <div class="content">{{ . }}</div>
    {{ end }}
    {{ range .Pages.ByDate.Reverse }}
    <section class="actualite-entry">
      <h2>{{ .Title }}</h2>
      <time datetime="{{ .Date.Format "2006-01-02" }}" class="actualite-date">{{ .Date.Format "2 janvier 2006" }}</time>
      <div class="content">{{ .Content }}</div>
    </section>
    {{ end }}
  </div>
</article>
{{ end }}
